body{
	background-color: black;
	height: 999999999999999999999999999999999999999999999999999999999px;
}

.back{
	z-index: -1;
	background-image: url("Immeuble.png");
	background-repeat: repeat-y;
	background-position: center;
	height: 100%;
	width: 100%;
}

.image{
	z-index: 0;
	position: fixed;
	height: 40%;
	margin-left: 15%;
	margin-top: 14%;
}

.hommes{
	z-index: 0;
	position: fixed;
	margin-left: 20%;
	margin-top: 22%;
	height: 20%;
}

.fleches{
	position: fixed;
	margin-left: 27%;
	margin-top: 3%;
	height: 20%;
}

.musique{
	position: fixed;
}